@import "./css_reset.scss";
@import "./price_section.scss";
@import "./fund_info.scss";
@import "./market_value.scss";
@import "./unrealized_p_and_l.scss";
@import "./card.scss";
@import "./progress_bar.scss";
@import "./portfolio.scss";
@import "./loader.scss";

html,
body {
  font-size: 16px !important;
  line-height: 1.5 !important;
  background-color: rgb(235, 231, 231);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px !important;
  margin: 1rem auto;
}

button {
  cursor: pointer;
}

i {
  color: rgb(192, 192, 192);
}

.profit {
  color: #168843;
  vertical-align: middle;
}

.loss {
  color: rgb(203, 72, 26);
  vertical-align: top;
}

.dashboard {
  width: 100% !important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.error_msg {
    font-size: 2rem;
    color: rgb(87, 85, 85);
}