.price_sec {
  display: flex;
  justify-content: space-between;
  .menu {
    display: flex;
    align-items: center;

    button {
      border: none;
      outline: none;
      background: transparent;
      font-size: 1rem;
      padding: 0.25rem 0.5rem;

      i {
        color: #777;
      }
    }
  }
  .price {
    font-size: 1.65rem;
    display: flex;
    align-items: center;
    color: rgb(107, 204, 211);

    i {
      font-size: 1rem;
    }
  }
  .scrip {
    display: flex;
    align-items: center;
    margin: 0rem 0.875rem;
    font-size: 1.5rem;
  }
}
